{% extends "base.html" %}
{% load i18n staticfiles %}

{% block body %}

<center class="mt-4"><h1>Satellite</h1></center>

<div class="container card card-body my-4">
    <div class="row">
        <div class="col-sm-12 justify-content-center">
            <a class="btn btn-light btn-lg" href="/admin/app/task/add/">Create Task</a>
            <a class="btn btn-light btn-lg ml-2" href="/admin/app/task/">Manage Tasks</a>
        </div>
        <div class="col-sm-12 mt-5">
            <h3>Pending orders</h3>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Resources</th>
                        <th scope="col">State</th>
                        <th scope="col">Last Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in pending %}
                    <tr>
                        <th scope="row">{{ task.id }}</th>
                        <td>{{ task.name }}</td>
                        <td>{{ task.resources_list | join:"-" }}</td>
                        <td>{{ task.state }}</td>
                        <td>{{ task.last_update | timesince }} ago</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td align="center" colspan="5">Nothing to show here.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 mt-4">
            <h3>Last executions</h3>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Resources</th>
                        <th scope="col">State</th>
                        <th scope="col">Last Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in last %}
                    <tr>
                        <th scope="row">{{ task.id }}</th>
                        <td>{{ task.name }} <span class="badge badge-primary">{{ task.satelite_number }}</span></td>
                        <td>{{ task.resources_list | join:"-" }}</td>
                        <td>{{ task.state }}</td>
                        <td>{{ task.last_update | timesince }} ago</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td align="center" colspan="5">Nothing to show here.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 mt-5">
            <h3>Satellites stats</h3>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Executed</th>
                        <th scope="col">Completed</th>
                        <th scope="col">Failed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for satellite in satellites_stats %}
                    <tr>
                        <th scope="row">{{ satellite.satelite_number }}</th>
                        <td>{{ satellite.total }}</td>
                        <td>{{ satellite.done }}</td>
                        <td>{{ satellite.failed }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td align="center" colspan="5">Nothing to show here.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}
